* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Overpass", sans-serif;
}

main {
  position: relative;
  background-color: hsl(213, 19%, 18%);
  height: 15rem;
  width: 35rem;
  overflow: hidden;
}

.rating-state, .final-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.final-state {
  visibility: hidden;
}